<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aliyun-net-sdk-core" version="1.5.11" targetFramework="net45" />
  <package id="Serilog" version="2.8.0" targetFramework="net45" />
  <package id="Serilog.Exceptions" version="8.4.0+build.694" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net45" />
</packages>