bin/
obj/
publish/
*.suo
tiu*.css
tiu*.js
logs/
indexdata/
packages/*/
*.tss
BackupWeb/
PrecompileWeb/
ReleaseWeb/
.vs/
*.user
**/PublishProfiles
*.pubxml
*.csproj.user
*.lock.json
log/
*.DS_Store
.vscode
DeserializeJsonDemo/endpoints.json
target/
