<html>

<head>
    <title>Introduce</title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Hover to see.
        </span>
    </div>
    <div id="app-3">
        <span v-if="seen">Now you see me.</span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Reverse</button>
        <span v-on:click="reverseMessage">SpanReverse1</span>
        <span @click="reverseMessage">SpanReverse2</span>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../components/input/display.js"></script>
</body>

</html>